<div class="container">
  <h2>Liste types :</h2>
  <div class="card shadow mb-4">
  <div class="card-body">
  <table class="table table-striped">
    <tr><th style="text-align:center;" colspan="5">types</th></tr>
  <tr> <th>Id</th><th>Nom</th> <th>Description</th><th colspan="2">Actions</th> </tr>
  <tbody *ngFor="let type of types | paginate: { itemsPerPage: 3, currentPage: page,
    totalItems:count}; let i=index" > <!--  -->
  <tr>
  <td> {{type.idtype}}</td>
  <td> {{type.nomtype}}</td>
  <td> {{type.descriptiontype}} </td>
  <td><a class="btn btn-danger" (click)="supprimerGroup(type)" >Supprimer</a></td>
  <td><a class="btn btn-success" [routerLink]="['/updatetype',type.idtype]" >Modifier</a></td>
  </tr>
  </tbody>
  </table>
  <hr>
  <pagination-controls (pageChange)="page=$event"></pagination-controls>
  </div>
  </div>
  </div>
