<div class="container">
  <div>
  <h2>Modifier un type :</h2>
  </div>
  <form >
  <div class="form-group">
  <label >ID type </label>
  <input readonly type="text" [(ngModel)]="currenttype.idtype"
  name="idtype" class="form-control">
  </div>
  <div class="form-group" >
  <label >Nom type</label>
  <input type="text"[(ngModel)]= "currenttype.nomtype"
  name="nomtype" class="form-control" required minlength="4" #name="ngModel">
  <span *ngIf="name.invalid && name.touched"
            class="text-danger">
            Nom type Invalide*
          </span>
  </div>
  <div class="form-group">
  <label >Description type</label>
  <textarea [(ngModel)]= "currenttype.descriptiontype"
  name="descriptiontype" class="form-control" required #desc="ngModel"></textarea>
  <span *ngIf="desc.invalid && desc.touched"
  class="text-danger">
  Saisir Description*
</span>
  </div>

    <div class="form-group" align="center">
    <button type="submit" (click)="updatetype()" class="btn btn-success">Modifer</button>
    <a href="/meubles"><button type="button" class="btn btn-secondary">Annuler</button></a>
    </div>
    </form>
    </div>
