<div class="container">
  <div>
    <h2>Modifier un meuble :</h2>
  </div>
  <form>
<table align="center" width="100%">
  <tr>
   <th>   <label>ID meuble</label></th>
 <td>     <input
        readonly
        type="text"
        [(ngModel)]="currentmeuble.idmeuble"
        name="idmeuble"
        class="form-control"
      /></td>
</tr>
<tr>
  <th> <label>Nom meuble</label></th>
  <td> <input
        type="text"
        [(ngModel)]="currentmeuble.nommeuble"
        name="nommeuble"
        class="form-control" required minlength="4" #name="ngModel"
      />
      <span *ngIf="name.invalid && name.touched"
    class="text-danger">
    Nom meuble Invalide*
  </span></td>
    </tr>
      <tr>
        <th> <label>type</label></th>
        <td> <select
        class="form-control form-control-lg"
        id="idtype"
        name="idtype"
        [(ngModel)]="updatedtypeId" required #select="ngModel">
        <option *ngFor="let type of types" [value]="type.idtype">
          {{ type.nomtype }}
        </option>
      </select>
      <span *ngIf="select.invalid && select.touched "
            class="text-danger">
            Choisir type*
          </span></td>
    </tr>
      <tr>
        <th> <label>Date Ajout</label></th>
        <td> <input
        type="date"
        [ngModel]="currentmeuble.dateAjout | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentmeuble.dateAjout = $event"
        name="dateAjout"
        class="form-control" required #date="ngModel"
      /> <span *ngIf="date.invalid && date.touched "
      class="text-danger">
      Saisir Date*
    </span></td>

    </tr>

      <tr> <th style="text-align: center;" colspan="2"> <button type="submit" (click)="updatemeuble()" class="btn btn-success">
        Modifer
      </button>
      <a href="/meubles"><button type="button" class="btn btn-secondary">
        Annuler
      </button></a></th></tr>
</table>
  </form>
</div>
