<br>
<div class="container">
<div class="card shadow mb-4">
<div class="card-body">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <form>
    <label>types </label>
    <select class="form-control form-control-lg" id="idtype" name="idtype"
    [(ngModel)]="Idtype" (change)="onChange()">
    <option *ngFor="let type of types" value="{{type.idtype}}">
    {{type.nomtype}}
     </option>
    </select>
    </form>
    </div>
<table class="table table-striped">
  <tr><th style="text-align:center;" colspan="4">meubles</th></tr>
<tr> <th>Id</th><th>Nom</th> <th>type</th><th>Date Ajout</th> </tr>
<tbody *ngFor="let meubles of meubles">
<tr>
<td>{{meubles.idmeuble}}</td>
<td>{{meubles.nommeuble}}</td>
<td>{{meubles.type.nomtype}}</td>
<td>{{meubles.dateAjout | date:'dd/MM/yyyy'}}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
